extends base
block content 
  main
    article
      //
        - #HERO
      section.hero
          .container
            .sbcontainer
              input#box.search__box(type='text', placeholder='Search for any movie and click enter')
              i#icon.fas.fa-search.search__icon

      section.top-rated
        .container
          .flex-wrapper
            .title-wrapper
              h2.h2.section-title Latest Movies
            //- ul.filter-list
            //-   li
            //-     button.filter-btn Movies
            //-   li
            //-     button.filter-btn TV Shows
            //-   li
            //-     button.filter-btn Anime
          ul.movies-list
            each movieObj in data.npMovies.info
              li
                .movie-card
                  a(href=`/detail/${movieObj.id}?type=${data.npMovies.type}`)
                    figure.card-banner
                      img(src=`https://image.tmdb.org/t/p/w500${movieObj.poster_path}`, alt=`${movieObj.title} movie poster`)
                  .title-wrapper
                    a(href=`/detail/${movieObj.id}`)
                      h3.card-title= movieObj.title
                    data= movieObj.release_date.split("-")[0]
                  .card-meta
                    .badge.badge-outline HD
                    .duration
                      ion-icon(name='time-outline')
                      time(datetime='PT137M') 137 min
                    .rating
                      ion-icon(name='star')
                      data= movieObj.vote_average

      section.service
        .container
          .service-banner
            figure
              img(src='./assets/images/service-banner.jpg', alt='HD 4k resolution! only $3.99')
            a.service-btn(href='./assets/images/service-banner.jpg', download='')
              span Download
              ion-icon(name='download-outline')
          .service-content
            p.service-subtitle Our Services
            h2.h2.service-title Download Your Shows Watch Offline.
            p.service-text
              | Lorem ipsum dolor sit amet, consecetur adipiscing elseddo eiusmod tempor.There are many variations of
              | passages of lorem
              | Ipsum available, but the majority have suffered alteration in some injected humour.
            ul.service-list
              li
                .service-card
                  .card-icon
                    ion-icon(name='tv')
                  .card-content
                    h3.h3.card-title Enjoy on Your TV.
                    p.card-text
                      | Lorem ipsum dolor sit amet, consecetur adipiscing elit, sed do eiusmod tempor.
              li
                .service-card
                  .card-icon
                    ion-icon(name='videocam')
                  .card-content
                    h3.h3.card-title Watch Everywhere.
                    p.card-text
                      | Lorem ipsum dolor sit amet, consecetur adipiscing elit, sed do eiusmod tempor.

      section.top-rated
        .container
          h2.h2.section-title most watched
          ul.filter-list
            each genre in data.genreList
              li
                button(onclick=`window.location.href='${"/genre/"}${genre.name}?page=10'`).filter-btn= genre.name

          ul.movies-list
            each show in data.tvShows.info
              li
                .movie-card
                  a(href=`/detail/${show.id}?type=${data.tvShows.type}`)
                    figure.card-banner
                    
                      if show.poster_path
                        img(src=`https://image.tmdb.org/t/p/w500${show.poster_path}`, alt=`${show.title} poster`)
                      else 
                        img(src=`https://image.tmdb.org/t/p/w500/5iODvV2VeTAGfW679PvCDQeqO98.jpg`, alt=`${show.title} poster`)
                  .title-wrapper
                    a(href=`/detail/${show.id}`)
                      h3.card-title= show.name
                    //- data= show.first_air_date.split("-")[0]
                  .card-meta
                    .badge.badge-outline HD
                    .duration
                      ion-icon(name='time-outline')
                      time(datetime='PT137M') 137 min
                    .rating
                      ion-icon(name='star')
                      data= show.vote_average

      section.tv-series
        .container
          //- p.section-subtitle top rated movies
          h2.h2.section-title best movies of all time
          ul.movies-list
            each movieObj in data.trMovies.info
              li
                .movie-card
                  a(href=`/detail/${movieObj.id}?type=${data.trMovies.type}`)
                    figure.card-banner
                      img(src=`https://image.tmdb.org/t/p/w500${movieObj.poster_path}`, alt=`${movieObj.title} movie poster`)
                  .title-wrapper
                    a(href=`/detail/${movieObj.id}`)
                      h3.card-title= movieObj.title
                    data= movieObj.release_date.split("-")[0]
                  .card-meta
                    .badge.badge-outline HD
                    .duration
                      ion-icon(name='time-outline')
                      time(datetime='PT137M') 137 min
                    .rating
                      ion-icon(name='star')
                      data= movieObj.vote_average
      //
        - #CTA
      section.cta
        .container
          .title-wrapper
            h2.cta-title stay updated on new or faster streaming sites.
            p.cta-text
              | If this site is ever taken down, you'll get a like to a new site in your email.
          form.cta-form(action='')
            input.email-field(type='email', name='email', required='', placeholder='Enter your email')
            button.cta-form-btn(type='submit') submit
