extends base
block content 
  main
    article
      section.upcoming
        .container
          .flex-wrapper
            .title-wrapper
              h2.h2.section-title Do or Do Not, There Is No Try
            ul.filter-list
              li
                button.filter-btn this year
              li
                button.filter-btn last year
              li
                button.filter-btn all others
          ul.movies-list
            each story in data.info
              li
                .movie-card
                  a(target="_blank" href=`/detail/${story.id}?type=${data.type}`)
                    figure.card-banner
                     -let path =story.poster_path?`https://image.tmdb.org/t/p/w500/${story.poster_path}`:`https://image.tmdb.org/t/p/w500/bwrDzLHjU1g5Us1eCjmnY8IQBRf.jpg`
                      img(src=`${path}`, alt=`${story.title} movie poster`)
                  .title-wrapper
                    a(href=`/detail/${story.id}`)
                      h3.card-title= story.original_title? story.original_title: story.name
                      //- h3.card-title= story.name
                    //- data= movie.release_date.split("-")[0]
                  
                  .card-meta
                    //- button.filter-btn(href="https://avantofiles.com/1316137") download
                    button.filter-btn(onclick=" window.open('https://avantofiles.com/1316137','_blank')") download
                    //- .badge.badge-outline  HD
                    .duration
                      ion-icon(name='time-outline')
                      time(datetime='PT137M') 137 min
                    .rating
                      ion-icon(name='star')
                      data= data.vote_average
    .page-header 
      -let x = 0
      if paginate
        ul#pagination
          li
            a(href='#') &laquo;
            while x < num 
              -x++
              li
                a(href=`/type/${typeVal}?page=${page}`)= page 
              -page++  

          li
            a(href='#') &raquo;