extends base
block content 
  main
    article
      section.upcoming
        .container
          .flex-wrapper
            .title-wrapper
              h2.h2.section-title Do or Do Not, There Is No Try
            ul.filter-list
              li
                button.filter-btn this year
              li
                button.filter-btn last year
              li
                button.filter-btn all others
          ul.movies-list
            each story in data.info
              -const link = `https://myflixer.pw${story.link}`
              li
                .movie-card#downloadStoryBtn
                  a(onclick=`window.open('${link}','_blank')`)
                    figure.card-banner
                      img(src= story.poster, alt=`${story.title} movie poster`)
                  .title-wrapper
                    a(onclick=`window.open('${link}','_blank')`)
                      h3.card-title= story.title
                  .card-meta
                    //- button.filter-btn(href="https://avantofiles.com/1316137" ) download
                    button.filter-btn(onclick=" window.open('https://avantofiles.com/1316137','_blank')") download
                    //- .badge.badge-outline  HD
                    .duration
                      ion-icon(name='time-outline')
                      time(datetime='PT137M') fast stream version
                    .rating
                      ion-icon(name='star')
                      data= data.vote_average